<section class="box">
    <div class="is-flex-wrap-wrap">
        <button *ngFor="let ballBet of gameService.ballBets;index as i" class="button ball-button"  [class]="ballBet.color" [disabled]="beatNumbers.includes(ballBet.number)" (click)="changeBeat(ballBet.number)" >{{ballBet.number}}</button>
    </div>
    <div class="my-3 is-flex is-justify-content-center content is-medium">
        <button class="button is-outline is-medium" (click)="resetBeat()">Clear selection</button>
    </div>
</section>
