<section class="is-flex-direction-column">
    <h1>Your bet:</h1>
    <div class="is-flex-wrap-wrap is-flex is-justify-content-center is-align-items-center">
            <button *ngFor="let ballBet of gameService.ballBets" class="button ball-button-sm is-size-7 m-1"
                [class]="beatNumbers.includes(ballBet.number) ? ballBet.color: 'is-static'" (click)="changeBeat(ballBet.number)">
                <span *ngIf="beatNumbers.includes(ballBet.number)">
                    {{ballBet.number}}
                </span>
            </button>
    </div>
    <div class="field my-2">
        <p>
            How much you want to bet?
        </p>
        <form  [formGroup]="betForm" (ngSubmit)="placeBeat()" class="my-2 field is-expanded">
            <div class="field has-addons">
                <p class="control">
                    <button class="button is-static">
                        <span *ngIf="beatNumbers.length > 1">
                            x{{beatNumbers.length}}

                        </span>
                    </button>
                </p>
                <div class="control is-expanded">
                    <input formControlName="moneyBet" name="moneyBet" class="input" type="number" min="0">
                </div>
            </div>
            <p *ngIf="invalidField('moneyBet')" class="help is-danger">The beat must be almost 5</p>
            <p *ngIf="isSubmitedForm && beatNumbers.length === 0" class="help is-danger">You must choose at least one number</p>
            <div class="has-background-primary has-text-white p-2" >
                <h3> Total: {{beatNumbers.length * betForm.value.moneyBet }}€</h3>
            </div>
            <div class="my-3 is-flex is-justify-content-center content is-medium">
                <button type="submit" class="button is-outline is-medium" [disabled]="!isGaming" >Place Beat</button>
            </div>
        </form>
    </div>
</section>